<!DOCTYPE html>
<html>
  <head>
    <title>Workdir</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header">
    <div class="header__bar row">
      <h1 class="grid-6"><a href="/">PicTweet</a></h1>
      <div class="user_nav grid-6">
        <a class="post" href="/tweets/new">投稿する</a>
      </div>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>


  <footer>
      <p>
        Copyright PicTweet 20XX.
      </p>
    </footer>
</html>
